@import "tailwindcss";

:root {
  font-family: system-ui, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #f5f5f5;
  color: #000000;
}
